!!!
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
%html
  <!--<![endif]-->
  %head
    %meta{:name => "viewport",  :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title CropSwap
    - load_first_js = [ 'jquery-1.9.1.js', 'underscore-min.js', 'backbone.js', 'handlebars.js', 'application.js' ]
    - load_first_js.each do |s|
      %script{:src => "./javascripts/#{s}", :type => "text/javascript"}

    - load_first_css = [ 'bootstrap.min.css', 'bootstrap-responsive.css' ]
    - load_last_css = [ 'custom.css' ]
    - load_first_css.each do |s|
      %link{:href => "./stylesheets/#{s}", :media => "all", :rel => "stylesheet", :type => "text/css"}

    - Dir["public/stylesheets/**/*.css"].reject{|s| [load_first_css+load_last_css].include?(s.split(/\//).last)}.sort.each do |s|
      %link{:href => "./#{s.gsub(/^public\//, '')}", :media => "all", :rel => "stylesheet", :type => "text/css"}
    - Dir["public/javascripts/**/*.js"].reject{|s| load_first_js.include?(s.split(/\//).last)}.sort.each do |s|
      %script{:src => "./#{s.gsub(/^public\//, '')}", :type => "text/javascript"}
    - load_last_css.each do |s|
      %link{:href => "./stylesheets/#{s}", :media => "all", :rel => "stylesheet", :type => "text/css"}


  %body
    %section.row.span12.header
      .navigation

    %section.row.span12.content
      .wrapper
        Crop them' Swaps!

    %section.row.span12.footer
      Some legal boilerplate here